@media (min-width: 1200px) {
    .pop-questions_item {
        flex-grow: 1;
        margin: 0 15px 15px 15px;
        &:last-of-type {
            margin-bottom: 15px;
        }
    }

    .info-block {
        &_title {
            font-size: 32px;
            &:after {
                font-size: 210px;
                transform: translate(-53%, -30px);
            }
        } 
    }
    .cashback-works {
        .w-100 {
            display: none;
        }
        &_item {
            &.next-pointer_ttb {
                &:after {
                    top: 65px;
                    right: 0;
                    transform: translateX(calc(var(--bs-gutter-x) * 0.5 + 50%)) scaleX(-1) rotate(80deg);
                }
            }
            &.next-pointer_ltr {
                &:after {
                    top: -7px;
                    right: 0;
                    transform: translateX(calc(var(--bs-gutter-x) * 0.5 + 50%)) rotate(32deg);
                }
            }
        }
    }
    .cashback-get {
        margin-top: 108px;
        .info-block_title {
            &:after {
                transform: translate(-44%, 22px);
            } 
        }
        &_item {
            &-start {
                .cashback-get_item-descr {
                    max-width: 360px;
                    &:before {
                        margin: 0 4px 0 0;
                    }
                }
            }
            &-dest {
                margin-top: 24px;
                .cashback-get_item-descr {
                    p {
                        margin: 0;
                    }
                    &:before {
                        margin-right: 21px;
                    }
                }
            }
            &-complete {
                img {
                    margin: auto;
                    display: block;
                }
                .cashback-get_item-descr {
                    p {
                        min-width: 168px;
                        margin-bottom: 0;
                    }
                }
                &.next-pointer_ltr {
                    &:after {
                        display: none;
                    }
                }
            }
            &-site {
                .info-block_panel {
                    margin-top: 0;
                }
                .cashback-get_item-descr {
                    &:before {
                        margin-right: 21px;
                    }
                    p {
                        max-width: 280px;
                    }
                }
                &.next-pointer_ltr {
                    &:after {
                        left: 50%;
                        transform: rotate(-45deg) scale(-1) translate(12%, -83%);
                    }
                }
            }
            &-callback {
                margin-top: 52px;
                .cashback-get_item-descr {
                    &:before {
                        margin-right: 21px;
                    }
                }
                a.btn-callback {
                    background-color: var(--accent-light);
                }
            }
            &-descr {
                &:before {
                    font-size: 70px;
                    margin: 0 25px 0 21px;
                    line-height: 1;
                    color: #ececec;
                }
                &.next-pointer_ltr {
                    &:after {
                        bottom: 60%;
                        right: -50px;
                        transform: rotate(20deg) translateY(50%);
                    }
                }
                
            }
            &-button {
                width: 100%;
                max-width: 247px;
                margin-top: 50px;
            }
        }
    }
    .cashback-obtain {
        margin-top: 40px;
        .info-block_wrapper {
            margin-bottom: 25px;
        }
        .info-block_title {
            min-width: 307px;
            &:after {
                font-size: 170px;
                transform: translate(-32%, -17px);
            }
        }
        &_item {
            &:last-of-type {
                margin-bottom: 20px;
            }
        }
        &_value {
            font-size: 60px;
            width: 215px;
            margin: 0 14px 0 24px;
        }
        &_profit {
            .cashback-obtain_img {
                width: 159px;
            }
        }
        &_rev {
            .cashback-obtain_img {
                width: 159px;
            }
            .cashback-obtain_value {
                margin-left: 15px;
            }
        }
        &_rise{
            .cashback-obtain_img {
                width: 113px;
                margin-left: 30px;
            }
            .cashback-obtain_value {
                margin-left: 40px;
            }
        }
        &_final {
            span {
                font-size: 24px;
            }
            .info-block_panel {
                max-width: 398px;
                margin: auto;
            }
        }
    }
    .cashback-miss {
        .info-block_title {
            min-width: 375px;
            margin-bottom: 26px;
            &:after {
                font-size: 170px;
                transform: translate(-78%, -14px);
            }
        }
        &_item {
            margin-bottom: 0;
        }
        &_wrapper {
            text-align: left;
            margin-left: 15px;
        }
        &_subtitle {
            margin-bottom: 7px;
            margin-top: 13px !important;
        }
    }

    .cashback-howto {
        margin-top: 92px;
        .info-block_title {
            min-width: 438px;
            margin-bottom: 40px;
            &:after {
                font-size: 170px;
                transform: translate(-103%, -12px);
            }
        }
        &_item {
            margin-top: 20px;
            p {
                margin-bottom: 0;
            }
            &-title {
                margin-bottom: 30px;
                p {
                    max-width: 470px;
                }
            }
        }
        &_tab {
            li {
                margin-bottom: 0;
            }
        }
        &_tabs {
            margin: 50px 0 23px 0;
            &-nav {
                margin-bottom: 0px;
            }
            &-body {
                border: none;
                filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, .25));
            }
            &-control {
                flex-direction: column;
                max-width: 111px;
                padding: 20px 26px 10px 30px;
                border: 1px solid #D9D9D9;
                border-bottom: 1px solid transparent;
                box-shadow: none;
                margin: 0;
                position: relative;
                z-index: 0;
                &:after {
                    display: none;
                }
                .cashback-howto_tabs-ico {
                    width: 55px;
                    height: 55px;
                }
                &:first-of-type {
                    &.active {
                        &:after {
                            transform: scaleX(1);
                            width: 110%;
                        }
                    }
                }
                &.active {
                    flex-direction: row;
                    max-width: 222px;
                    padding: 9px 20px 18px 21px;
                    position: relative;
                    z-index: 4;
                    border: none;
                    // filter: drop-shadow(0px -5px 12px rgba(0, 0, 0, .25));
                    &:before {
                        content: '';
                        display: block;
                        height: 110%;
                        width: 100%;
                        position: absolute; 
                        box-shadow: 0px 0px 12px rgba(0, 0, 0, .25);
                        z-index: -1;
                        border-radius: 5px;
                    }
                    &:after {
                        content: '';
                        display: block;
                        height: 20px;
                        width: 100%;
                        transform: scaleX(1.1);
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        background-color: #fff;
                    }
                    .cashback-howto_tabs-ico {
                        width: 120px;
                        height: 120px;
                    }
                }
                span {
                    display: block;
                    color: #333;
                    margin-top: 10px;
                }
            }
        }
        &-full {
            margin-top: 40px;
            .info-block_title {
                margin-bottom: 27px;
            }
        }
    }
    
    
}